<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ExtentReport">
  <test name="GenerateExtentReport">
    <classes>
      <class name="extentReportsExample.ExtentReportDemo"/>
    </classes>
  </test> <!-- GenerateExtentReport -->
</suite> <!-- ExtentReport -->
